<div data-role="header">
  <h1>CheerList - Home</h1>
</div>

<div data-role="content">
  <ul data-role="listview">
    <li>Manchester United</li>
    <li>Arsenal</li>
    <li>Chelsea</li>
    <li>Liverpool</li>
    <li>Manchester City</li>
  </ul>
</div>
