<div class="content_pane">
  <h1>All English Premier League Games</h1>
  
  <%= paginate @games %>
  
  <table>
    <% if @games.blank? %>
      <tr><td>No game is available</td</tr>
    <% else %>
      <% @games.each do |game| %>
        <%= render game %>
      <% end %>
    <% end %>
  </table>
  
  <%= paginate @games %>
  
</div>
