<div class="content_pane">
  <h1>Top 10 Leaderboard</h1>
  <table>
  <% if @users.blank? %>
  <tr><td>No user found!</td></tr>
  <% end %>
  <% @users.each.with_index do |user, i| %>
    <tr>
      <td><%= i+1 %></td>
      <td><%= image_tag( (user.profile.image_url.blank? ? "default_avatar.gif":user.profile.image_url.to_s), 
              :alt => "User #{user.id}") %></td>
      <td><%= link_to "View Profile", profile_path(user) %></td>
    </tr>
  <% end %>
  </table>
</div>