<div class="content_pane">
  <h1>Search Results</h1>
  <%= render "pages/search_form" %> 
  
  <table>
    <% if @search.results.blank? %>
      <tr><td>No game is available</td</tr>
    <% end %>
    <%= paginate @search %>
    <% @search.results.each do |game| %>
        <%= render game %>
    <% end %>
  </table>
</div>
