<div id="sidebar">
  <div class="content_pane">
		<h2 class="content_pane_title">Leaderboard</h2>
		<ol class="links">
			<li>
				<a href="http://api.rubyonrails.org/">Alex</a>
			</li>
			<li>
				<a href="http://stdlib.rubyonrails.org/">John</a>
			</li>
			<li>
				<a href="http://corelib.rubyonrails.org/">Ken</a>
			</li>
			<li>
				<a href="http://guides.rubyonrails.org/">Ali</a>
			</li>
			<li>
        <a href="http://guides.rubyonrails.org/">Kevin</a>
      </li>
      <li>
        <a href="http://guides.rubyonrails.org/">Albert</a>
      </li>
      <li>
        <a href="http://guides.rubyonrails.org/">Frederick</a>
      </li>
      <li>
        <a href="http://guides.rubyonrails.org/">Simon</a>
      </li>
      <li>
        <a href="http://guides.rubyonrails.org/">Patrick</a>
      </li>
      <li>
        <a href="http://guides.rubyonrails.org/">Ben</a>
      </li>
		</ol>
	</div>
</div>